header {
	background-color: $darkGrey;
}

.top_header {
	@include clearfix;
	background-color: black;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	
	/* Top parts of the header */
	.top_left {
		float: left;
		img { width: 30px; float: left; margin: 10px 5px 5px;}
		h2 {float: left; margin: 10px 5px 5px;}
	}
	.top_right {
		float: right;
		margin: 10px 10px 5px;

		div {
			float: left;
			padding: 0px 10px;
			a { 
				text-decoration: none;
				color: $lightGrey;
			}
			a:hover { 
				color: $blue;
			}
		}
		@media (min-width: $small-width){
		 	display: none;		 		
		}	
		@media (min-width: $medium-width){
			 display: none;		 		
		}
		@media (min-width: $large-width){
			  display: block;	 		
		}
		@media (min-width: $xlarge-width){
			 	display: block;	  		
		}
	}

	
}

/* bottom parts of the header */
	.bot_header {
		@include clearfix;
		padding: 0px 0px 35px;
		.wrapper{

			img{ float: left;
				width: 60px;
				@media (min-width: $small-width){
					width: 60px;		 		
				}	
				@media (min-width: $medium-width){
					width: 70px;		 		
				}
				@media (min-width: $large-width){
					width: 80px;	  		
				}
				@media (min-width: $xlarge-width){
					width: 100px;	  		
				}
			 }
			h1{ float: left;
				@media (min-width: $small-width){
					@include font-size(18);	 		
				}	
				@media (min-width: $medium-width){
					@include font-size(22);	 		
				}
				@media (min-width: $large-width){
					@include font-size(25);  		
				}
				@media (min-width: $xlarge-width){
					 @include font-size(28);	  		
				}
			 }
		}		
	}

/* Navigation Bar */
nav {
	.wrapper { background-color: $black ; margin-top: -50px;margin-bottom:20px;}
	.main_nav {
		 
		padding: 0;
		
		@include clearfix; 
		div {
			width: 25%;
			float: left;
			margin:  0px;
			background-color: $black;
			/*border: 1px solid red;*/
			text-align: center;
			color: $lightGrey;
			
			border-top: 10px solid $black;
				border-bottom: 10px solid $black;
			height: 60px;
			line-height: 55px;
			@include font-size(13);
			@media (min-width: $small-width){
				@include font-size(10);	
				width: 100%;	 		
			}	
			@media (min-width: $medium-width){
				@include font-size(10);	 
				width: 50%;		
			}
			@media (min-width: $large-width){
				@include font-size(11); 
				width: 25%; 		
			}
			@media (min-width: $xlarge-width){
				@include font-size(13);	  		
			}
			
			
			a { 

				text-decoration: none;
				
				font-family: $headerFont;
				
				color: $lightGrey;
				 
				
			}
			a:hover { 
				text-decoration: none;
				color: $blue;
				 

			}
			a:after {
				color: $lightGrey;
			}
			
		}
		div:hover{
			border-top: 10px solid $blue;
			border-bottom: 10px solid $blue;
			}
	}
}


/* the page is the store page.. */
.main_nav > div:nth-child(3) {
				
				border-top: 10px solid $blue;
				border-bottom: 10px solid $blue;
				a { color: $blue;}
}