/* --- Normalize -- */
@import 'normalize';

/* --- Mixins -- */
@import 'mixin';

/* -- variables -- */
 
/* Screen sizes */
$small-width : 322px;
$medium-width : 482px;
$large-width: 770px;
$xlarge-width: 1024px;

/* Colors */
$lightGrey : #D5CEC2;
$darkGrey : #181818;
$black : #0C0C0C;
$blue : #47B9A8;
$yellow : #F5C564;

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Muli|Montserrat);
$headerFont : 'Montserrat', sans-serif;
$bodyFont : 'Muli', sans-serif;

h1,h2,h3,h4,h5,h6 { font-family: $headerFont; }
p,a,span { font-family: $bodyFont;}

/* -- Layout -- */
@import 'header';
@import 'contents';
@import 'footer';


